html {
  background-image: url(kuva1.jpg);
  background-position: center;
  background-attachment: fixed;
}

.App {
  text-align: center;
  margin: auto;
}

.infoPanel {
  text-align: center;
  background: radial-gradient(rgba(0, 212, 255, 0.5), rgba(0, 212, 255, 0));
  width: fit-content;
  margin: auto;
}

.container {
  display: grid;
  --BorderRad: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "upper upper"
  "lower-left lower-right";
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  border-radius: var(--BorderRad);
  box-shadow: 2px 2px 10px grey;
  z-index: 1;
}
.container .upper {
  background-color: rgba(0,212,255,0.3);
  grid-area: upper;
  padding: 2em;
}
.container .lower-left {
  grid-area: lower-left;
  background-color: rgba(0, 128, 128, 0.75);
  border-radius: 0 0 0 var(--BorderRad);
  padding: 1em;
}
.container .lower-right {
  grid-area: lower-right;
  background-color: rgba(64, 224, 208, 0.5);
  border-radius: 0 0 var(--BorderRad) 0;
  padding: 1em;
  text-align: left;
}
.ExitBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  border: none;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 0 var(--BorderRad) 0 0;
}

a {
  background-color: rgba(255, 173, 51, 0.85);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: var(--BorderRad);
  box-shadow: 2px 2px 10px grey;
}
a:visited {
  background-color: green;
}

#EnterBtn {
  margin: 1em auto;
  padding: 1.25em 2em;
  border: none;
  background: linear-gradient(90deg, rgb(137, 222, 241) 0%, rgba(0,212,255,1) 100%);
  color: white;
  text-align: center;
  border-radius: 5px;
  display: block;
}

#ListComp {
  background-color: white;
  max-width: 750px;
  margin: 0 auto;
}

.ToggleBtn {
  width: 100%;
  border: thin solid;
  background-color: inherit;
  padding: 1em 0;
}

.ToggleBtn:hover {
  background-color: rgba(255, 173, 51, 0.85);
}

#EduId, #JobId, #ItId {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ListItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "upper right"
  "lower right";
  background-color: whitesmoke;
}

.ListItem h2 {
  grid-area: upper;
}

.ListItem .description {
  grid-area: right;
  padding: 1.5em;
  margin-right: 1.5em;
  border: thin solid;
  background-color: white;
}

.ListItem .date {
  grid-area: lower;
  padding: 0 1em;
}
